<footer class="footer inverse-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h3 class="widget-title">Últimas publicaciones</h3>
          <ul class="post-list">
            <% last_post(3).each do |post| %>
            <li>
              <div class="icon-overlay"> <a href="<%= post_public_view_path(post.id)%>"><%= image_tag(post.head_image.ban, width: "100%", height: '100px') %> </a> </div>
              <div class="meta">
                <h5><a href="<%= post_public_view_path(post.id)%>"><%= post.title %></a></h5>
                <span class="date"><%=post.created_at.strftime('%Y/%m/%d')%></span>
                </div>
            </li>
             <%end%>
                </ul>
                <!-- /.post-list -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            
            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Mas buscado</h4>
                <ul class="tag-list">
                  <!--11/08/16 OCULTE OPCION AYUDA -->
                  <!--li><%=link_to "Ayuda", new_ticket_path, class: "btn" %></li-->
                  <li><%=link_to "Noticias", news_path, class: "btn" %></li>
                  <li><%=link_to "Transparencia", transparency_path, class: "btn" %></li>
                  <li><%=link_to "Pagos", branches_for_payments_path, class: "btn" %></li>
                  <li><%=link_to "Historia", capama_history_path, class: "btn" %></li>
                </ul>
              </div>
              <!-- /.widget -->
              
              <div class="widget">
                <h4 class="widget-title">Redes</h4>
                <ul class="social">
                  <li><a href="https://twitter.com/CAPAMA_Online" target="_blank"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com/capama.acapulco/" target="_blank"><i class="icon-s-facebook"></i></a></li>
                </ul>
                <!-- .social -->
                
              </div>
            </div>
            <!-- /column -->
            
            <div class="col-sm-4">
              <!-- /.widget -->
              <div class="widget">
                <%= image_tag('admin/logo.png', width: '120px') %> <%= image_tag('logoacapulco.png', width: '170px')   %> <br/><br/><br/>

                <h4 class="widget-title">Para mayores informes</h4>
                <p>Favor de comunicarse en al siguiente teléfono o acudir a la siguiente dirección, para trámites consultar la ayuda en linea</p>
                <div class="contact-info"> <i class="icon-location"></i> <a href="https://www.google.com.mx/maps/place/Av+Adolfo+L%C3%B3pez+Mateos+%26+Teniente+Jos%C3%A9+Azueta,+Zona+Urbana+49,+Acapulco,+Gro./@16.8472459,-99.911306,18.4z/data=!4m2!3m1!1s0x85caf7e5220eb7e7:0x20274e0e63ff31f0" target="_blank">Av. Lic. Adolfo López Mateos, Esq. Tte. José Azueta s/n, Col. Centro C.P. 39300, Acapulco, Gro </a> <br />
                  <i class="icon-phone"></i>01 (744)434-1400 <br />
                </div>
                <!-- /.widget -->
                
              </div>
              <!-- /column -->
              
            </div>
            <!-- /.row -->
          </div>
          <!-- .container -->
          
          <div class="sub-footer">
            <div class="container inner">
              <p class="text-center">© 2016 <a href="http://www.capama.gob.mx/portal">CAPAMA</a>. Todos los derechos reservados <a href="http://capama.gob.mx">CAPAMA</a>.</p>
            </div>
            <!-- .container -->
          </div>
          <!-- .sub-footer -->
        </footer>
        <!-- /footer -->