<div class="navbar solid dark row">
  <div class="navbar-header">
    <div class="basic-wrapper">
      <div class="navbar-brand">  <%= link_to root_path do %><%= image_tag('admin/logo.png', width: '120px') %> <%end%> <%= link_to "http://acapulco.gob.mx", target: "_blank" do %> <%= image_tag('logoacapulco.png', width: '170px')   %>   <%end%> </div>
      <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
    </div>
    <!-- /.basic-wrapper -->
  </div>
  <!-- /.navbar-header -->

  <%= render partial: "/renders_layout/rendermenu", locals: {template: "menu", json:"menu", div: "navmenu", type: "navmenu"} %>
  <div id="navmenu" class="foonav"></div>
  <!-- /.social-wrapper -->
</div>
<!-- /.navbar -->
