<div class="row">
  <div class="col-lg-12" id="printing">
  <div class="btn btn-info pull-right" id="format-print">Imprimir </div>
  <div id="printing">
  <header class="panel-heading" >Inspección <%= @inspect.created_at %></header>
  <section class="panel">
    <div class="col-md-12">
     <img src="/assets/admin/logo.png" width="60%" class="pull-right" />
     <center> Impresión de inspección </center>
    </div>
    <div class="panel-body">
      <div class="col-md-6" style="width:50%; float:left;">
      <p> <b>Nombre:  </b> <br/> <br/> <%= @inspect.name %></p><br/>
      <p> <b>Dirección:  </b> <br/> <br/><%= @inspect.address %></p><br/>
      <p> <b>Inconforme:  </b> <br/> <br/><%= @inspect.inconforme %></p><br/>
      <p> <b>Cuenta:  </b> <br/> <br/><%= @inspect.acount %></p><br/>
      <p> <b>Medidor:  </b> <br/> <br/><%= @inspect.meter %></p><br/>
      <p> <b>T ser:  </b> <br/> <br/><%= @inspect.t_ser %></p><br/>
      <p> <b>Persona a cargo :  </b> <br/> <br/><%= @inspect.in_charge %></p><br/>
      <p> <b>Datos Adicionales:  </b> <br/> <br/><%= @inspect.additional_data %></p><br/>
      <p> <b>Fecha de visita:  </b> <br/> <br/><%= @inspect.visit_date %></p><br/>
      <p> <b>Inspección General :  </b> <br/> <br/><%= @inspect.general_inspect %></p><br/>
      <p> <b>Condiciones de la toma :  </b> <br/> <br/><%= @inspect.shooting_conditions %></p><br/>
      </div>
      <div class="col-md-6" style="width:50%; float:left;">
      <p> <b>Anomalias de la toma :  </b> <br/> <br/><%= @inspect.meter_anomaly %></p><br/>
      <p> <b>Casa habitación :  </b> <br/> <br/><%= @inspect.home_room %></p><br/>
      <p> <b>Número de personas :  </b> <br/> <br/><%= @inspect.number_of_people %></p><br/>
      <p> <b>Ordenó inspección :  </b> <br/> <br/><%= @inspect.ordeno_prueba_de_inspeccion %></p><br/>
      <p> <b>Tipo de actividad :  </b> <br/> <br/><%= @inspect.property_activity %></p><br/>
      <p> <b>Anomalias :  </b> <br/> <br/><%= @inspect.anomalies %></p><br/>
      <p> <b>Condiciones del medidor :  </b> <br/> <br/><%= @inspect.meter_conditions %></p><br/>
      <p> <b>Reporte Adicional :  </b> <br/> <br/><%= @inspect.additional_report %></p><br/>
      <p> <b>Otras anomalias :  </b> <br/> <br/><%= @inspect.other_obs %></p><br/>
      </div>
      <div class="col-md-12">
      <center>
      <% @images.each do |img| %>
      <img src="<%= img.img %>" width="25%" />
      <%end%>
      </center>
      </div>
    </div>
  </section>
</div>
</div>
</div>

<script type="text/javascript">
    $("#format-print").click(function(){
      var url = window.location.href;
      var divElements = $("#printing").html();
      document.body.innerHTML = divElements ;
      window.print();
      window.location = url;
    });
  </script>