<div class="row">
  <div class="col-lg-12">
  <header class="panel-heading" >Lecturas de agua</header>
  <section class="panel">
    <div class="panel-body">
      <%= render partial: "/admin/renders/form_reading", locals: {users: @users} %>
      <div class="table-responsive">
        <a href="/files/routes_import.csv">Descargar Ejemplo para importación CSV</a>
        <table class="table">
          <thead>
            <tr>
              <th>Lecturista</th>
              <th>Fecha para la toma de lectua</th>
              <th>Número de ruta</th>
              <th>Importación</th>
              <th>Eliminar | Limpiar </th>
              <th>Exportar Exel </th>
            </tr>
          </thead>
          <tbody>
            <% @readings.each do |read| %>
            <tr>
              <td><%= read.user.name %></td>
              <td><%= read.future_scheduled %></td>
              <td><%= read.route_number %></td>
              <td>
                <%=form_tag import_readings_path, multipart: true do -%>
                <%= file_field_tag 'file' %>
                <%= hidden_field_tag 'assignment', read.id %>
                <%= submit_tag "Importar", class: "btn btn-default" %>
                <%end%>
              </td>
              <td><%=link_to "Eliminar", destroy_read_path(id: read.id), "data-confirm": "¿Estas seguro de querer eliminar esta ruta?"%> | <%=  link_to "Limpiar(quita todas las rutas importadas)", clear_readings_path(id: read.id) %></td>
              <td><%= link_to 'Ver lecturas', show_readings_path(id: read.id)%></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <%= will_paginate @readings, renderer: BootstrapPagination::Rails %>
    </div>
  </section>
</div>
</div>