<div class="row">
  <div class="col-lg-12">
  <header class="panel-heading" >Lecturas de agua</header>
  <section class="panel">
    <div class="panel-body">
      <div class="table-responsive">
        <a href="/files/routes_import.csv" class="btn btn-default">Descargar Ejemplo para importación CSV</a>
        <%= link_to "Exportar Inspecciones de la ruta", export_inspects_path(id: @route.id, :format => :xls), class: "btn btn-info" %>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Inconformidad</th>
              <th>Cuenta</th>
              <th>Medidor</th>
              <th>t_ser</th>
              <th>Datos Adicionales</th>
              <th>Reporte completo</th>
            </tr>
          </thead>
          <tbody>
            <% @routes.each do |r| %>
            <tr>
              <td> <%= r.name %></td>
              <td> <%= r.address %></td>
              <td> <%= r.inconforme %></td>
              <td> <%= r.acount %></td>
              <td> <%= r.meter %></td>
              <td> <%= r.t_ser %></td>
              <td> <%= r.additional_data %></td>
              <td>
                <%= link_to "Ver inspecciones", open_inspect_path(id:  r.id) %> |
                <%= link_to "Ver imagenes", inspect_images_path(imageable_id: r.id, imageable_type: "inspects", routes: @route.id, active: true) %></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</div>