<!DOCTYPE html>
<html>
  <head>
    <title>PAMA | servicio de agua potable y saneamiento  de Acapulco, Guerrero.</title>
    <%= favicon_link_tag('favicon.png')%>
    <%= stylesheet_link_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/landing/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/landing/plugins.css" rel="stylesheet">
    <link href="/assets/landing/style.css" rel="stylesheet">
    <link href="/assets/landing/color/aqua.css" rel="stylesheet">
    <link href="/style/icons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="/assets/ajax/send_ajax_forms.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <main class="body-wrapper">
    <%= render partial: "/renders_layout/head" %>
    <%= yield %>
    <%= render partial: "/renders_layout/footer" %>
    </main>
  </body>
</html>